include includes/head.pug
body
  .container.my-5
    h1 Gulp Starter Kit
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora enim nihil nobis magni ducimus architecto consectetur laborum unde, vel praesentium optio modi dicta alias iusto cum aliquid neque. Ipsum, neque.

  script(src="assets/js/script.js")